---
// Example: <SomeComponent greeting="(Optional) Hello" name="Required Name" />
const { event } = Astro.props;

---

<a href={event.url} class="rounded-lg overflow-hidden mb-4 shadow-xl border-white border bg-gray-100 relative grid grid-rows-2 hover:shadow-3xl group h-96 lg:h-auto">
  
  <div class="overflow-hidden">
    <img src={event.image} class="w-full h-full group-hover:scale-110 transition-all ease-in-out duration-150 object-cover md:object-fill" alt="event image"/>
  </div>
  <section class="p-4 flex flex-col">
    <h2 class="font-sans text-lg font-bold text-gray-700 group-hover:text-blue-700 transition-all ease-in-out duration-100">{event.name}</h2>
    <p class="text-gray-600 font-serif mb-4">{event.date.toLocaleDateString("en-US")}</p>
    <p class="text-gray-700 text-sm font-serif ">{event.city}, BC</p>
    <div class="flex mt-auto mb-2 space-x-2">
      {event.games.map((game) => {
        let pillClass = `bg-pink-700`;
        if (game === "Melee") {
          pillClass = `bg-green-700`;
        }
        else if(game === "P+") {
          pillClass = `bg-red-700`;
        }
        return <div class={`${pillClass} text-white rounded-2xl px-2 py-1 text-sm font-bold space-x-4 uppercase group-hover:bg-blue-700 transition-all ease-in-out duration-100`}>{game}</div>
      })}
    </div>
  </section>
</a>
